$red: #FC4444;
$blue1: #3FEEE6;
$blue2: #55BCC9;
$blue3: #97CAEF;
$blue4: #CAFAFE;

body {
  background-color: $red;
  font-family: 'Roboto', sans-serif;

}
/* The navigation bar */
nav {
  overflow: hidden;
  background-color: $blue1;
  position: fixed;
  width: 100%;
  top: 0;
  a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  .nav-btn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    &:hover {
      background: $red;
      -webkit-border-radius: 10px;
              border-radius: 10px;
    }
  }
  .logo {
    float: left;
    font-weight: bold;
    font-size: 2em;
  }
}

main {
  padding-top: 50px;
  margin: auto;
}

.new-post {
  h2 {
    text-align: center;
    margin-bottom: -5px;
  }
  border-radius: 15px;
  background: $blue3;
  width: 50%;
  overflow: auto;
  color: black;
  form {
    margin: auto;
    text-align: center;
  }
  textarea {
    min-width: 90%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin-top: 5px;
  }
  input {
     -webkit-border-radius: 10px;
            border-radius: 10px;
    margin-top: 5px;
    border: 0px;
    font-size: 1em;
    padding-left: 5px;
    height: 20px;
  }
  .post-submit {
    text-align: center;
    margin-bottom: 10px;
    background-color: $red;
    color: $blue1;
    height: 25px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
              border-radius: 10px;
      background-color: $blue1;
      color: $red;
    }

  }
 }


 .post {
   text-align: center;
   height: 300px;
   width: 300px;
   background: $blue2;
   -webkit-border-radius: 10px;
           border-radius: 10px;
   #comment-submit {
    text-align: center;
    margin-bottom: 10px;
    background-color: $blue1;
    color: $red;
    height: 25px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
              border-radius: 10px;
      background-color: $red;
      color: $blue1;
    }
  }
  textarea {
    min-width: 90%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin-top: 5px;
    }
 }




