$lightgrey: #e8e8e8;
$darkgrey: #202020;
$medgrey: #787878;
$white: #FFFFFF;
$black: #080808;
$gold: gold;
$red: #fc4444;
$turq: #2DE1C2;

body {
  background-color: $darkgrey;
  font-family: "Roboto", sans-serif;
  color: $white;
}
/* The navigation bar */
nav {
  overflow: hidden;
  background-color: $turq;
  position: fixed;
  width: 100%;
  top: 0;
  a {
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav-btn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: none;
    &:hover {
      background: $medgrey;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
  }
  #logo {
    float: left;
    font-weight: bold;
    font-size: 2em;
  }
}

main {
  padding-top: 50px;
  margin: 2em 4em;
  display: flex;
  flex-wrap: wrap;
  .profile-header {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    img {
      border-radius: 50%;
    }
    h1 {
      align-self: center;
      margin: 0 2em;
    }
    button {
      height: 3em;
      align-self: center;
    }
    h2 {
      flex-basis: 100%;
      display: flex;
      align-self: center;
      font-size: 3em;
    }
  }
  .posts-container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  article {
    margin: 1em;
    display: flex;
    flex-direction: column;
    header {
      flex-grow: 1;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 100px;
    }
    &:hover footer {
        display: flex;
        -webkit-border-bottom-right-radius: 10px;
                border-bottom-right-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
                    border-bottom-left-radius: 10px;
      }
    footer {
      display: none;
      background: $medgrey;
      flex-wrap: wrap;
      justify-content: space-between;
      .timeposted {
        margin-left: 1em;
        align-self: center;
      }
      .icons {
        margin-right: 1em;
        align-self: center;
        .liked {
          color: gold;
        }
        .disliked {
          color: $red;
        }
        .fa-chevron-up:hover {
          color: $gold;
        }
        .fa-chevron-down:hover {
          color: $red;
        }
      }
    }
  }
}

.dialogIsOpen {
  display: flex;
  flex-wrap: wrap;
  header {
    display: flex;
    justify-content: flex-start;
  }
  footer {
    display: hidden;
  }
  aside {
    display: flex;
    justify-content: flex-end;
  }

}

.new-post {
  h2 {
    text-align: center;
    margin-bottom: -5px;
  }
  border-radius: 15px;
  background: $medgrey;
  width: 50%;
  overflow: auto;
  color: white;
  form {
    margin: auto;
    text-align: center;
  }
  textarea {
    min-width: 90%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }
  input {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    border: 0px;
    font-size: 1em;
    padding-left: 5px;
    height: 20px;
  }
  .post-submit {
    text-align: center;
    margin-bottom: 10px;
    background-color: $lightgrey;
    color: $black;
    height: 25px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: $black;
      color: $lightgrey;
    }
  }
}

.post {
  text-align: center;
  min-height: 300px;
  min-width: 300px;
  background: $turq;
  color: $white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  aside {
    display: none;
  }
  .post-description {
    display: none;
  }
  .comment-submit {
    text-align: center;
    margin-bottom: 10px;
    background-color: $darkgrey;
    color: $white;
    height: 25px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: $white;
      color: $darkgrey;
    }
  }
  textarea {
    min-width: 90%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }
}

.rendered {
  &:hover {
    cursor: pointer;
  }
}


//search form css
.search-form {
  h2 {
    text-align: center;
    margin-bottom: -5px;
  }
  border-radius: 15px;
  background: $medgrey;
  width: 50%;
  overflow: auto;
  color: black;
  form {
    margin: auto;
    text-align: center;
  }
  textarea {
    min-width: 90%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }
  input {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    border: 0px;
    font-size: 1em;
    padding-left: 5px;
    height: 20px;
  }
  .search-submit {
    text-align: center;
    margin-bottom: 10px;
    background-color: $turq;
    color: $white;
    height: 25px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: $white;
      color: $turq;
    }
  }
}

.modal {
  display: none;
}

#edit-info-button {
   text-align: center;
    margin-bottom: 10px;
    background-color: $white;
    color: $darkgrey;
    height: 60px;
    width: 120px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: $medgrey;
      color: $white;
    }
}


