$red: #fc4444;
$blue1: #3feee6;
$blue2: #55bcc9;
$blue3: #97caef;
$blue4: #cafafe;

body {
  background-color: $red;
  font-family: "Roboto", sans-serif;
}
/* The navigation bar */
nav {
  overflow: hidden;
  background-color: $blue1;
  position: fixed;
  width: 100%;
  top: 0;
  a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav-btn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: none;
    &:hover {
      background: $red;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
  }
  #logo {
    float: left;
    font-weight: bold;
    font-size: 2em;
  }
}

main {
  padding-top: 50px;
  margin: 2em 4em;
  display: flex;
  flex-wrap: wrap;
  .profile-header {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    img {
      border-radius: 50%;
    }
    h1 {
      align-self: center;
      margin: 0 2em;
    }
    button {
      height: 3em;
      align-self: center;
    }
    h2 {
      flex-basis: 100%;
      display: flex;
      align-self: center;
      font-size: 3em;
    }
  }
  .posts-container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  article {
    margin: 1em;
    display: flex;
    flex-direction: column;
    header {
      flex-grow: 1;
    }
    .post-description {
    }
    footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .timeposted {
        margin-left: 1em;
        align-self: center;
      }
      .icons {
        margin-right: 1em;
        align-self: center;
        .liked {
          color: gold;
        }
        .disliked {
          color: red;
        }
        .fa-chevron-up:hover {
          color: gold;
        }
        .fa-chevron-down:hover {
          color: red;
        }
      }
    }
  }
}

.new-post {
  h2 {
    text-align: center;
    margin-bottom: -5px;
  }
  border-radius: 15px;
  background: $blue3;
  width: 50%;
  overflow: auto;
  color: black;
  form {
    margin: auto;
    text-align: center;
  }
  textarea {
    min-width: 90%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }
  input {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
    border: 0px;
    font-size: 1em;
    padding-left: 5px;
    height: 20px;
  }
  .post-submit {
    text-align: center;
    margin-bottom: 10px;
    background-color: $red;
    color: $blue1;
    height: 25px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: $blue1;
      color: $red;
    }
  }
}

.post {
  text-align: center;
  min-height: 300px;
  min-width: 300px;
  background: $blue2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  aside {
    display: none;
  }
.comment-submit {
    text-align: center;
    margin-bottom: 10px;
    background-color: $blue1;
    color: $red;
    height: 25px;
    width: 80px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &:hover {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: $red;
      color: $blue1;
    }
  }
  textarea {
    min-width: 90%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }

}

.rendered {
  &:hover {
    cursor: pointer;
  }
}



